
/* SAOECOM */
:root {
  --color-bg: #02040a;
  --color-text-main: #000000;
  --color-primary: #FFFF00;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
  
  
  
  
  --red:#ff3860;
  --red-dark:#ff1443;
  --red-light:#ff5c7c;
  --blue:#498afb;
  --blue-dark:#2674fa;
  --blue-light:#6ca0fc;
  --orange:#fa8142;
  --orange-dark:#f96a1f;
  --orange-light:#fb9865;
  --green:#09c372;
  --green-dark:#07a15e;
  --green-light:#0be586;
  --purple:#9166cc;
  --purple-dark:#7d4bc3;
  --purple-light:#a481d5;
  --yellow:#ffdd57;
  --yellow-dark:#ffd633;
  --yellow-light:#ffe47a;
  --pink:#ff4088;
  --pink-dark:#ff1c72;
  --pink-light:#ff649e;
  --gray0:#f8f8f8;
  --gray1:#dbe1e8;
  --gray2:#b2becd;
  --gray3:#6c7983;
  --gray4:#454e56;
  --gray5:#2a2e35;
  --gray6:#12181b;
  --nav-width:4em;
  --orange-pink:linear-gradient(to bottom right,var(--orange-light),var(--orange-dark) 85%);
  --green-grad:linear-gradient(to bottom right,var(--green-light),var(--green-dark) 85%);
  --background:var(--gray6);--text-color:var(--gray2);
  --nav-shadow:4px 0 10px -3px #010101;
  --card-shadow:0 4px 8px rgba(0,0,0,0.38);
  --toc-shadow:rgba(0,0,0,0.7) 0px 10px 20px 0px;
  --nav-bg:var(--gray5);
  --tag-bg:var(--gray4);
  --code-bg:#22262f;
  --card-bg:var(--gray5);
  --overlay-bg:rgba(0,0,0,0.9);
  --h-border:2px dashed var(--nav-bg);
  --nav-border:2px dashed var(--text-color);
  --card-radius:0.25em;transition: all .3s ease
}

/* SAOECOM */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* SAOECOM fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.global/b99994f5-4c44-4691-9f5c-108578f7e2e0/Charlie_Display-Semibold.woff2?v=1668542560529")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.global/b99994f5-4c44-4691-9f5c-108578f7e2e0/Charlie_Display-Semibold.woff2?v=1668542560529")
    format("opentype");
}

@font-face {
  font-family: Saoecom1font;
  font-weight: bold;
  src: url("https://cdn.glitch.global/b99994f5-4c44-4691-9f5c-108578f7e2e0/Charlie_Display-Semibold.woff2?v=1668542560529")
    format("opentype");
}
@font-face {
  font-family: Saoecom2font;
  font-weight: bold;
  src: url("https://cdn.glitch.global/b99994f5-4c44-4691-9f5c-108578f7e2e0/sf-pro-display_medium.woff2?v=1668542716190")
    format("opentype");
}
@font-face {
  font-family: Saoecom3font;
  font-weight: bold;
  src: url("https://cdn.glitch.global/b99994f5-4c44-4691-9f5c-108578f7e2e0/roboto-v20-latin-ext_latin-regular.woff2?v=1668543452232")
    format("opentype");
}

/* SAOECOM */
.btn--remix {
  font-family: HK Grotesk;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: left;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}

.btnblue {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  font-size: 25px !important;
    font-weight: 500 !important;
    fill: #FFFFFF !important;
    color: #FFFFFF !important;
    background-color: #1164A3 !important;
    border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: #1164A3 !important;
    border-radius: 11px 11px 11px 11px !important;
    padding: 22px 55px 20px 55px !important;
  margin-bottom: 12px !important; 
    margin-top: 19px !important; 
}

.btnblue:hover {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  font-size: 25px !important;
    font-weight: 500 !important;
    fill: #FFFFFF !important;
    color: #FFFFFF !important;
    background-color: #1977BF !important;
    border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: #1977BF !important;
    border-radius: 11px 11px 11px 11px !important;
    padding: 22px 55px 20px 55px !important;
  margin-bottom: 12px !important; 
    margin-top: 19px !important; 

}


.btnblueshort {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  font-size: 25px !important;
    font-weight: 500 !important;
    fill: #FFFFFF !important;
    color: #FFFFFF !important;
    background-color: #1164A3 !important;
    border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: #1164A3 !important;
    border-radius: 11px 11px 11px 11px !important;
    padding: 22px 55px 20px 55px !important;
  margin-bottom: 12px !important; 
    margin-top: 19px !important; 
}

.btnblueshort:hover {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  font-size: 25px !important;
    font-weight: 500 !important;
    fill: #FFFFFF !important;
    color: #FFFFFF !important;
    background-color: #1977BF !important;
    border-style: solid !important;
    border-width: 1px 1px 1px 1px !important;
    border-color: #1977BF !important;
    border-radius: 11px 11px 11px 11px !important;
    padding: 22px 55px 20px 55px !important;
  margin-bottom: 12px !important; 
    margin-top: 19px !important; 

}

.btnsub {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  font-size: 25px !important;
    font-weight: 500 !important;
    fill: #F996FF !important;
    color: #F996FF !important;
    background-color: #373756 !important;
    border-radius: 14px 14px 15px 14px !important;
padding: 22px 38px 20px 38px !important;
}


img.btnsub-icon {
  width: 23px !important;
  margin-bottom: -1px !important;
}

.btnsub:hover {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  font-size: 25px !important;
    font-weight: 500 !important;
    fill: #F996FF !important;
    color: #F996FF !important;
    background-color: #313151 !important;
    border-radius: 14px 14px 15px 14px !important;
padding: 22px 38px 20px 38px !important;
}

.btnsub2 {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  font-size: 25px !important;
    font-weight: 500 !important;
    fill: #F996FF !important;
    color: #F996FF !important;
    background-color: #373756 !important;
    border-radius: 14px 14px 15px 14px !important;
    padding: 25px 49px 24px 51px !important;
}


img.btnsub2-icon {
  width: 23px !important;
  margin-bottom: -1px !important;
}

.btnsub2:hover {
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
    font-weight: 500 !important;
    fill: #F996FF !important;
    color: #F996FF !important;
    background-color: #313151 !important;
    border-radius: 14px 14px 15px 14px !important;
    padding: 25px 49px 24px 51px !important;
    font-size: 25px !important;
}


.btnsub3 {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(240 246 252 / 10%);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #57a6ff !important;
    background-color: #21262d;
}

.btnsub3:hover {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(240 246 252 / 10%);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #57a6ff !important;
    background-color: #262b30;
}







.btnsub3E {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(240 246 252 / 10%);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #57a6ff !important;
    background-color: #21262d;
  
  margin-bottom: 20px !important
}

.btnsub3E:hover {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(240 246 252 / 10%);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #57a6ff !important;
    background-color: #262b30;
}


.btnsub3Eso {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(99 165 255 / 26%);
    border-radius: 6px;
    font-family: "Saoecom2font" !important;
    color: #95c7ff !important;
    background-color: rgb(56 139 253 / 16%);
    margin-bottom: 20px !important
}

.btnsub3Eso:hover {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(99 165 255 / 55%);
    border-radius: 6px;
    font-family: "Saoecom2font" !important;
    color: #95c7ff !important;
    background-color: rgb(56 139 253 / 32%);
    margin-bottom: 20px !important
}


.btnsub3Efull {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(139 133 255 / 27%);
    border-radius: 6px;
    font-family: "Saoecom2font" !important;
    color: rgb(161 157 255) !important;
    background-color: rgb(139 133 255 / 21%);
    width: 94% !important;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    text-align: center;
}

.btnsub3Efull:hover {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(167 163 255 / 39%);
    border-radius: 6px;
    font-family: "Saoecom2font" !important;
    color: rgb(161 157 255) !important;
    background-color: rgb(159 154 255 / 30%);
    width: 94% !important;
    margin-bottom: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    text-align: center;
}



.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}


.footer a:not(.btn--remix):link,
a:not(.btn--remix):visited {
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
  border-style: none;
}
.footer a:hover {
  background: transparent;
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: HK Grotesk;
  background-color: var(--color-bg);
  font-family: 'Open Sans', sans-serif;
  color: #666;
  padding: 0px !important;
  margin: 0px !important;
  overflow-x: hidden;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin-top: 0px !important;
    margin-bottom: 10px !important;

}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #2800FF;
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Very light scaling for our illustration */
.iconcard {
  max-width: 50px;
  vertical-align: middle;
    font-size: 40px !important;
}

/* Very light scaling for our illustration */
img.combat {
  max-width: 200px;
}

img.iconcard {
  padding-right: 8px;
  width: 300px !important;
margin-top: -2px !important;
}


/* Very light scaling for our illustration */
.client {
  max-width: 50px;
  vertical-align: middle;
    font-size: 40px !important;
}


/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

.combat {
  background: #373756;
  width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
    padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 14px !important;
}

.combat1 {
  background: #FFCAD9FF;
  width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
    padding-right: 20px;
  padding-bottom: 0px;
  border-radius: 14px !important;
}

.combat2 {
  background: #5865f2;
  width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
    padding-right: 20px;
  padding-bottom: 0px;
  border-radius: 14px !important;
}


.combat3 {
  background: #9978d6;
  width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
    padding-right: 20px;
  padding-bottom: 0px;
  border-radius: 14px !important;
}

img.clientlogo {
  width: 210px !important;
  padding-top: 50px;
  padding-bottom: 0px !important;

}

img.brands {
  width: 95% !important;
  padding-top: 20px;
  padding-bottom: 0px !important;

}

@media screen and (max-width: 980px) {
  img.brands {
		    width: 108% !important;
      padding-top: 10px;

	}
}

@media screen and (max-width: 680px) {
	img.brands {
		    width: 108% !important;
      padding-top: 10px;

	}
}







img.brands1 {
  width: 100% !important;
  padding-top: 35px;
  padding-bottom: 0px !important;
  margin-bottom: -3px !important;
    border-radius: 3px 3px 3px 3px !important;

}

@media screen and (max-width: 980px) {
  img.brands1 {
		    width: 100% !important;
      padding-top: 10px;

	}
}

@media screen and (max-width: 680px) {
	img.brands1 {
		    width: 100% !important;
      padding-top: 10px;

	}
}








img.brands2 {
  width: 100% !important;
  padding-top: 0px;
  margin-top: 35px;
  padding-bottom: 0px !important;
  margin-bottom: -4px !important;
  border-radius: 0px 0px 3px 3px !important;
background: #E03D3E !important
}

@media screen and (max-width: 980px) {
  img.brands2 {
		    width: 100% !important;
      padding-top: 10px;

	}
}

@media screen and (max-width: 680px) {
	img.brands2 {
		    width: 100% !important;
      padding-top: 10px;

	}
}









img.brands3 {
  width: 100% !important;
  padding-top: 0px;
  margin-top: 35px;
  padding-bottom: 0px !important;
  margin-bottom: -4px !important;
  border-radius: 0px 0px 3px 3px !important;
background: #eee9dc !important

}

@media screen and (max-width: 980px) {
  img.brands3 {
		    width: 100% !important;
      padding-top: 10px;

	}
}

@media screen and (max-width: 680px) {
	img.brands3 {
		    width: 100% !important;
      padding-top: 10px;

	}
}







.brunch {
        font-size: 30px !important;
  color: #dcd1ed;
  padding-left: 20px !important;
    padding-right: 20px !important;
  padding-top: 30px;
  padding-bottom: 20px;
    font-family: "Saoecom1font" !important;
  letter-spacing: 0.02em !important;
  margin-bottom: 0px !important;
  text-align: center;
  line-height: 40px;
}

.brunch2 {
        font-size: 30px !important;
  color: #dcd1ed !important;
  padding-left: 200px !important;
    padding-right: 200px !important;
  padding-top: 80px !important;
  padding-bottom: 10px !important;
    font-family: "Saoecom1font" !important;
  letter-spacing: 0.02em !important;
  margin-bottom: 93px !important;
  text-align: center !important;
  align-content: center !important;
  line-height: 40px !important;
}


@media screen and (max-width: 980px) {
  .brunch2 {
        font-size: 30px !important;
  color: #dcd1ed !important;
  padding-left: 20px !important;
    padding-right: 20px !important;
  padding-top: 80px !important;
  padding-bottom: -10px !important;
    font-family: "Saoecom1font" !important;
  letter-spacing: 0.02em !important;
  margin-bottom: 40px !important;
  text-align: center !important;
  align-content: center !important;
  line-height: 40px !important;
	}
}

@media screen and (max-width: 680px) {
	.cbrunch2 {
        font-size: 30px !important;
  color: #dcd1ed !important;
  padding-left: 20px !important;
    padding-right: 20px !important;
  padding-top: 80px !important;
  padding-bottom: -10px !important;
    font-family: "Saoecom1font" !important;
  letter-spacing: 0.02em !important;
  margin-bottom: 40px !important;
  text-align: center !important;
  align-content: center !important;
  line-height: 40px !important;
}
}

.entrance {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #8b949e !important;
  margin-bottom: 12px !important;
  text-align: center !important;
  margin-right:  9% !important;
  margin-left: 9% !important;
  padding-bottom: 11px !important;
    padding-top: 6px !important;
}



.entranceZ1 {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #ff96b2 !important;
  margin-bottom: 12px !important;
  text-align: center !important;
  margin-right:  9% !important;
  margin-left: 9% !important;
  padding-bottom: 11px !important;
    padding-top: 6px !important;
}


.entranceZ13 {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #e2bdfdff !important;
  margin-bottom: 12px !important;
  text-align: center !important;
  margin-right:  9% !important;
  margin-left: 9% !important;
  padding-bottom: 11px !important;
    padding-top: 6px !important;
}


.entranceZ2 {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #ced3ffff !important;
  margin-bottom: 12px !important;
  text-align: center !important;
  margin-right:  9% !important;
  margin-left: 9% !important;
  padding-bottom: 11px !important;
    padding-top: 6px !important;
}




.pride {
        font-size: 30px !important;
  color: #58a6ff !important;
  padding-left: 0px !important;
    padding-right: 20px !important;
  padding-top: 20px !important;
  margin-top: 12px !important;
    font-family: "Saoecom2font" !important;
  letter-spacing: 0.02em !important;
  text-align: left;
  line-height: 40px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, dodgerblue, purple, red);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 0;
    top: 50%;
    left: 50%;
}


.pridesub {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #8b949e !important;
  margin-bottom: 0px !important;
  text-align: left !important;
  padding-bottom: 16px !important;
  padding-right: 2px !important;
}

.pridesubfooter {
      font-size: 11px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.5 !important;
  letter-spacing: 0.01em !important;
  color: #443e52 !important;
  margin-bottom: -14px !important;
  margin-top: 80px !important;
}



/* SAOECOM */
button,
input {
  font-family: inherit;
  font-size: 40px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
    color: red;
}

/* SAOECOM */
h2 {
        font-size: 18px !important;
  color: #58a6ff !important;
  padding-left: 0px !important;
    padding-right: 20px !important;
  padding-top: 20px !important;
  margin-top: 12px !important;
  margin-left: 0px;
    font-family: "Saoecom2font" !important;
  letter-spacing: 0.02em !important;
  text-align: left;
  line-height: 40px;

    margin: 0;
    top: 50%;
    left: 50%;
}

/* SAOECOM*/
.illustration:active {
  transform: translateY(5px);
}

/* SAOECOM */
.dipped {
  transform: translateY(5px);
}

* {
  box-sizing: border-box;
}
main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 10px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 90px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 20px;
  
}

purpleblocks {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 10px;
  width: 100%; 
  display: grid;
  /*Define our columns */
  grid-gap: 1em;
}



purpleblockspromo {
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 10px;
  width: 80%; 
  display: grid;
  /*Define our columns */
  grid-gap: 1em;
}
article {
    line-height: 0;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  
}

article:nth-child(odd) {
  background-color: #55BBE9;
      font-size: 20px;
  padding-left: 20px !important;
    font-family: "Palatino";
  line-height: 0;
  letter-spacing: -0.015em;
}

article:nth-child(even) {
  background-color: #afbe29;
    font-size: 20px;
}





.mars {
  background: #373756;
  width: 100%;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
    padding-right: 20px;

}




.headline {
  margin-block-end: var(--space-md);
  font-family: "Palatino";
  font-size: clamp(2rem, 6vw, 3.5rem);
  font-weight: bold;
  line-height: 1.125;
  letter-spacing: -0.015em;
}

.gallery {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  padding-block: var(--space-md);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
  inline-size: 0 !important;
  display: none;
}

.gallery .wrapper {
  grid-column: content;
  display: flex;
  align-items: center;
  gap: var(--space);
}

.gallery .wrapper::after {
  content: "";
  align-self: stretch;
  padding-inline-end: max(
    var(--space),
    (100vw - var(--content-max-width)) / 2 - var(--space)
  );
}

.item {
  width: 300px !important;
  border: solid 1px transparent;
}

.item:hover {
  width: 300px !important;
  border: solid 1px red;
  
}

.cardservice1 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #9d91ff;
}

.cardservice2 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #ff717a;
}

.cardservice3 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #6cd3ff;
}

.cardservice4 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #fff57b;
}

.cardservice5 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #7bffa4;
}

.cardservice6 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #ed9eff;
}

.cardservice7 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #ed9eff;
}

.cardservice8 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #fff57b;
}

.cardservice9 {
  background-color: #241d2e !important;
      font-size: 24px !important;
  padding-left: 24px !important;
  padding-top: 26px !important;
  padding-bottom: 23px !important;
    font-family: "Saoecom3font" !important;
  line-height: 0 !important;
  letter-spacing: 0.02em !important;
    border: solid 1px #3f3351;
  margin-bottom: 0px !important;
  color: #9d91ff;
}


.cardservice {
  border: solid 4px transparent;
}


.cardservice:hover {
  border: solid 4px red;
}

.gallery .item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  inline-size: 100%;
  max-inline-size: 400px;
  aspect-ratio: 11 / 15;
  background: #241D2E;
  border-radius: 14px;
  overflow: hidden;
  margin-right: 20px;
    margin-top: 10px;
  margin-bottom: 10px;
    border: solid 0px purple !important;

}

.gallery .item:hover {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  inline-size: 100%;
  max-inline-size: 400px;
  aspect-ratio: 11 / 15;
  background: #241D2E;
  border-radius: 14px;
  overflow: hidden;
  margin-right: 20px;
    margin-top: 10px;
  margin-bottom: 10px;
    border: solid 0px purple !important;
opacity: 0.9 !important;
}

.gallery.alt-sizes .item.lg {
  max-inline-size: 35rem;
}

.gallery.alt-sizes .item.sm {
  max-inline-size: 15rem;
}

.gallery img {
  width: 10px;
  height: 100%;
  object-fit: cover;
}

@supports not (aspect-ratio: 1) {
  .gallery .item::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  .gallery .item::after {
    display: block;
    content: "";
    clear: both;
  }
}

.ff-banner {
  display: none;
}

@-moz-document url-prefix() {
  .ff-banner {
    display: block;
    padding: var(--space);
    background-color: red;
    text-align: center;
    font-size: 0.9rem;
  }
}



a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }


/* STRUCTURE */

.wrapper {
	padding: 0px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 0px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 0px;
  	margin-bottom: 65px;
	margin-right: 0px;
	margin-left: 0px;

}

.column {
	flex: 1;
	border: 0px solid transparent;
	margin: 2px;
	padding-top: 10px;
  	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 2px;

	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}



@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}



.main-nav
{
  position: fixed;
  display: flex;
  box-sizing: border-box;
  padding: 0 2.5%;
  top: 0; left: 0; 
  height: 55px;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(0.25turn, #4B3CC4, #27128E);

}

img.navlogo {
  margin-top: -9px;
}

.navlogo
{
  line-height: 10px;
  width: 150px !important;
}

.main-nav a
{
  cursor: pointer;
  float: left;
  list-style: none;
  height: 0px;
  margin: 0 10px;
  line-height: 25px;
      font-size: 19px !important;
    font-family: "Saoecom2font" !important;
  letter-spacing: 0.02em !important;
  color: #9d91ff !important;
}






/* banner */
.banner {
  background-image: url('https://cdn.glitch.global/8cbf6ac2-f9e2-4f94-b7d8-d17d6f831387/bg-stars-1.webp?v=1670084607138');
  background-size: cover;
  background-position: center !important;
  color: white;
  object-fit: contain;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 0.3rem;
 margin-right: 60px !important;
      font-family: "Saoecom2font" !important;
    max-width: 100%;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 16px;
  max-width: 100%;
  height: 180px;
      font-family: "Saoecom2font" !important;
  color: #8b949e !important;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, #02040a, #02040a);
}

/* nav */

.nav__logo {
  width: 110px;
  object-fit: contain;
}


.nav__logoF {
  width: 110px;
  object-fit: contain;
}

.nav__avatar {
  width: 40px;
  object-fit: contain;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  /* background-color: #111; */
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #161b22;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}




.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #161b22;
  border-top: 0px solid #161b22;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
  margin-top: 12px;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  
}

.footer li {
  line-height: 2em;
  color: blue !important;
}

.footer a {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  margin-bottom: 12px !important;
  text-align: center !important;
  margin-right:  9% !important;
  margin-left: 0% !important;
  padding-bottom: 11px !important;
    padding-top: 6px !important;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #8b949e !important;
  margin-bottom: 12px !important;
  text-align: center !important;
  margin-right:  9% !important;
  margin-left: 0% !important;
  padding-bottom: 11px !important;
    padding-top: 6px !important;
}


.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
  color: #ffffff !important;
}
  
.legal__links {
  display: flex;
  align-items: center;
  color: #ffffff !important;
}

.heart {
  color: #ff5757 !important;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}






.pricing {
  @include translate(-49%, -49.1%);
  position: center;
  text-align: center !important;
  margin-left: auto !important;
    margin-right: auto !important;
  margin-top: 55px !important;
  left: 50%;
  top: 50%;
  width: 310px;
  font-size: 0;
  opacity: 1;
  transition: opacity .2s ease;
}

.price-option {
  display: inline-block;
  width: 6.25em;
  vertical-align: middle;
  margin-right: 0.3125em;
  font-size: 16px;
  opacity: 1;
  transition: opacity .2s ease;
}

.price-option:last-child { margin-right: 0; }

.pricing:hover .price-option { opacity: 0.6; }
.pricing:hover .price-option:hover { opacity: 1; }

.price-option__detail {
  padding: 2em 0;
  background: #161b22 !important;
  text-align: center;
      font-family: "Saoecom2font" !important;

}

.price-option--low .price-option__detail  { border-radius: .25em 0 0 0; }
.price-option--mid .price-option__detail  { padding: 2.3em 0; border-radius: .25em .25em 0 0; }
.price-option--high .price-option__detail { border-radius: 0 .25em 0 0; }

.price-option__cost,
.price-option__type {
  display: block;
      font-family: "Saoecom2font" !important;

}

.price-option__cost {
  font-size: 1.5em;
  color: #c9d1d9 !important;
}

.price-option__type {
  font-size: .7em;
  text-transform: uppercase;
  color: #58a6ff !important;
      font-family: "Saoecom2font" !important;
}

.price-option__purchase {
  position: relative;
  display: block;
  padding: .6em;
  font-size: .875em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0,0,0,0.6);
      font-family: "Saoecom2font" !important;
}

.price-option--low .price-option__purchase  { background: #a7d155; border-radius: 0 0 0 .25em; }
.price-option--mid .price-option__purchase  { background: #eada42; border-radius: 0 0 .25em .25em; }
.price-option--high .price-option__purchase { background: #e54e4b; border-radius: 0 0 .25em 0; }

.price-option__purchase:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-style: solid;
      font-family: "Saoecom2font" !important;
}

.price-option--low .price-option__purchase:before  { border-color: transparent transparent #a7d155; }
.price-option--mid .price-option__purchase:before  { border-color: transparent transparent #eada42; }
.price-option--high .price-option__purchase:before { border-color: transparent transparent #e54e4b; }



.btnsub1 {
    position: relative;
    display: inline-block;
  
  padding-top: 5px !important;
    padding-bottom: 8px !important;
  padding-right: 16px !important;
    padding-left: 16px !important;

    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(30 111 45);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #fff !important;
    background-color: #238636;
}


img.btnsub-icon1 {
  width: 18px !important;
  margin-top: 4px !important;
    margin-bottom: -2px !important;
    margin-left: 2px !important;


}

.btnsub1:hover {
    position: relative;
    display: inline-block;
  
  padding-top: 5px !important;
    padding-bottom: 8px !important;
  padding-right: 16px !important;
    padding-left: 16px !important;

    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(30 111 45);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #fff !important;
    background-color: #2a923e;
}








.btnsub1E {
    position: relative;
    display: inline-block;
  
    padding-top: 5px !important;
    padding-bottom: 8px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;

    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(30 111 45);
    border-radius: 6px;
    font-family: "Saoecom2font" !important;
    color: #fff !important;
    background-color: #238636;
  
    margin-left: 20px !important;
    margin-bottom: 20px !important;

}


img.btnsub-icon1E {
  width: 18px !important;
  margin-top: 4px !important;
    margin-bottom: -2px !important;
    margin-left: 2px !important;


}

.btnsub1E:hover {
    position: relative;
    display: inline-block;
  
  padding-top: 5px !important;
    padding-bottom: 8px !important;
  padding-right: 16px !important;
    padding-left: 16px !important;

    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(30 111 45);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #fff !important;
    background-color: #2a923e;
}






.btnsubfooter {
    position: relative;
    display: inline-block;
  
  padding-top: 5px !important;
    padding-bottom: 8px !important;
  padding-right: 16px !important;
    padding-left: 16px !important;

    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(30 111 45);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #fff !important;
    background-color: #238636;
    margin-top: 15px !important; 
}


img.btnsubfooter-icon1 {
  width: 18px !important;
  margin-top: 4px !important;
    margin-bottom: -2px !important;
    margin-left: 2px !important;


}

.btnsubfooter:hover  {
    position: relative;
    display: inline-block;
  
  padding-top: 5px !important;
    padding-bottom: 8px !important;
  padding-right: 16px !important;
    padding-left: 16px !important;

    font-size: 15px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid rgb(30 111 45);
    border-radius: 6px;
      font-family: "Saoecom2font" !important;
    color: #fff !important;
    background-color: #238636;
    margin-top: 15px !important; 
}





.columns1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 60px;
  	margin-bottom: 65px;
	margin-right: 0px;
	margin-left: 0px;

}


.column1 {
	flex: 1;
	border: 1px solid #21262d !important;
  border-radius: 4px !important;
	margin-left: 2px;
  	margin-top: 2px;
	margin-bottom: 2px;
  	margin-right: 10px;
	padding-top: 10px;
  	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
  background: #0d1116 !important;
    text-align: center !important;

	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}



@media screen and (max-width: 980px) {
  .columns1 .column1 {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns1 .column1 {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}



.columns2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 60px;
  	margin-bottom: 65px;
	margin-right: 0px;
	margin-left: 0px;

}

.column2 {
	flex: 1;
	border: 1px solid #21262d !important;
  border-radius: 4px !important;
	margin-left: 2px;
  	margin-top: 2px;
	margin-bottom: 2px;
  	margin-right: 10px;
	padding-top: 10px;
  	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
  background: #0d1116 !important;
    text-align: center !important;

	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}



@media screen and (max-width: 980px) {
  .columns2 .column2 {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns2 .column2 {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}



.columns3 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 60px;
  	margin-bottom: 65px;
	margin-right: 0px;
	margin-left: 0px;

}

.column3 {
	flex: 1;
	border: 1px solid #21262d !important;
  border-radius: 4px !important;
	margin-left: 2px;
  	margin-top: 2px;
	margin-bottom: 10px;
  	margin-right: 10px;
	padding-top: 10px;
  	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
  background: #0d1116 !important;
    text-align: center !important;

	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}



@media screen and (max-width: 980px) {
  .columns3 .column3 {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns3 .column3 {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}







.columnsE3 {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 60px;
  margin-bottom: 1px;
	margin-right: 0px;
	margin-left: 0px;
  background: #02040a !important;
  border: 1px solid #21262d !important;
  border-radius: 4px !important;
  
  padding-top: 25px;
  padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.columnE3 {
	flex: 1;
	border: 0px solid rgb(56 139 253 / 15%) !important;
  border-radius: 4px !important;
	margin-left: 2px;
  margin-top: 2px;
	margin-bottom: 10px;
  margin-right: 10px;
	padding-top: 10px;
  padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
  background: rgb(56 139 253 / 15%) !important;
  text-align: left !important;

	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}



@media screen and (max-width: 980px) {
  .columnsE3 .columnE3 {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}



@media screen and (max-width: 680px) {
	.columnsE3 .columnE3 {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}








.columnE3S {
	flex: 1;
	border: 1px solid #02040a !important;
  border-radius: 4px !important;
	margin-left: 2px;
  margin-top: 2px;
	margin-bottom: 10px;
  margin-right: 2px;
	padding-top: 10px;
  padding-bottom: 0px;
	padding-right: 2px;
	padding-left: 0px;
  background: #02040a !important;
  text-align: left !important;

	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}



@media screen and (max-width: 980px) {
  .columnE3S {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}



@media screen and (max-width: 680px) {
	.columnE3S {
		flex-basis: 100%;
		margin: 0 0 5px 0;
    	padding-right: 25px;

	}
}


.tada {
  margin-left: 20% !important;
  margin-right: 20% !important;
  text-align: center !important;
}


.Hey {
  margin-left: 10px !important;
  margin-right: 10px !important;
  text-align: left !important;
}






.prideX {
        font-size: 30px !important;
  color: #58a6ff !important;
  padding-left: 0px !important;
    padding-right: 20px !important;
  padding-top: 10px !important;
  margin-top: 1px !important;
    font-family: "Saoecom2font" !important;
  letter-spacing: 0.02em !important;
  text-align: center;
  line-height: 40px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, dodgerblue, purple, red);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 0;
    top: 50%;
    left: 50%;
}


.prideE {
  font-size: 24px !important;
  color: #58a6ff !important;
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  margin-top: 1px !important;
  font-family: "Saoecom2font" !important;
  letter-spacing: 0.02em !important;
  text-align: left;
  line-height: 30px;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, dodgerblue, purple, red);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 0;
    top: 50%;
    left: 50%;
   margin-left: 25px !important;
  margin-right: 25px !important;
}


.prideE2 {
  font-size: 24px !important;
  color: rgb(170 166 255) !important;
  padding-left: 0px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  margin-top: 1px !important;
  font-family: "Saoecom2font" !important;
  letter-spacing: 0.02em !important;
  text-align: left;
  line-height: 30px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-left: 25px !important;
  margin-right: 25px !important;
}


.prideE2left {
    font-size: 24px !important;
    color: #57a6ff !important;
    padding-left: 0px !important;
    padding-right: 20px !important;
    padding-top: 10px !important;
    margin-top: 1px !important;
    font-family: "Saoecom2font" !important;
    letter-spacing: 0.02em !important;
    text-align: left;
    line-height: 30px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-left: 25px !important;
    margin-right: 25px !important;
}


.prideE2leftPROMO {
    font-size: 24px !important;
    color: #4EE077 !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    margin-top: 40px !important;
    font-family: "Saoecom2font" !important;
    font-weight: 200 !important;
    letter-spacing: 0.02em !important;
    text-align: center;
    line-height: 32px;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-left: 25px !important;
    margin-right: 25px !important;
    background: #1A2B23 !important;
    border-radius: 14px !important;
}

.pridesubXE {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #8b949e !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  padding-bottom: 0px !important;
  padding-right: 2px !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.pridesubXEright {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: rgb(136 135 159) !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  padding-bottom: 0px !important;
  padding-right: 2px !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.pridesubXEleft {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #8db6e3 !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  padding-bottom: 0px !important;
  padding-right: 2px !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.pridesubXE2 {
      font-size: 12px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.4 !important;
  letter-spacing: 0.01em !important;
  color: #343e4d !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  padding-bottom: 0px !important;
  padding-right: 2px !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.pridesubXE2left {
      font-size: 12px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.4 !important;
  letter-spacing: 0.01em !important;
  color: #2f4864 !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  padding-bottom: 0px !important;
  padding-right: 2px !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.pridesubXE2right {
      font-size: 12px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.4 !important;
  letter-spacing: 0.01em !important;
  color: rgb(64 62 92) !important;
  margin-bottom: 24px !important;
  text-align: left !important;
  padding-bottom: 0px !important;
  padding-right: 2px !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}



.pridesubX {
      font-size: 16px !important;
    font-family: "Saoecom2font" !important;
  line-height: 1.3 !important;
  letter-spacing: 0.01em !important;
  color: #8b949e !important;
  margin-bottom: 24px !important;
  text-align: center !important;
  padding-bottom: 0px !important;
  padding-right: 2px !important;
}

img.tadaX {
      width: 320px !important;
  margin-top: 60px !important;
}

img.tadaE {
      width: 150px !important;
  margin-top: 60px !important;
}

img.coloredlogo {
      width: 300px !important;
  margin-top: 60px !important;
}




table {
	border: 1px solid #21262d !important;
  border-radius: 4px !important;
  table-layout: fixed;
  width: 93%;
  text-align: center;
  margin-bottom: 70px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  background: #0d1116 !important;
  margin-top: 90px !important;
}
table caption {
  font-size: 1.5em;
  margin: none;
}
table tr {
  border: 0px solid red;
  padding: 0em;
}
table tr:nth-child(even) {
  background: #0d1116;  
}
table th,
table td {
  padding: .625em;
  text-align: left;
}
table th {
  background: #0d1116;
  color: #58a6ff;
  font-size: .85em;
  text-align: left !important;
  padding-top: 20px !important;
  padding-bottom: 10px !important;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    color: #8b949e !important;
}




.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: .25em .1em
}

h1.tag {
    margin-left: 0;
    margin-right: 0
}

.tag-sm {
    font-size: .7em;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.tag-lg {
    font-size: 1.2em;
    border-radius: 4px
}

.tag-bg {
    background: var(--background)
}

.tag-green,.tag-pro {
    background: var(--green);
    color: #fff
}

.tag-purple {
    background: var(--purple);
    color: #fff
}

.tag-contrast {
    background: var(--text-color);
    color: var(--background)
}

.tag-javascript {
    background: #f0db4f;
    color: #000
}

.tag-typescript {
    background: #2775c3;
    color: #fff
}

.tag-angular {
    background: #dc0530;
    color: #fff
}

.tag-firebase {
    background: #ffcb2b;
    color: #12181a
}

.tag-vue {
    background: #41b883;
    color: #35495e
}

.tag-rxjs {
    background: var(--pink);
    color: var(--gray5)
}

.tag-node {
    background: #90c53f;
    color: #46483d
}

.tag-cloud-functions {
    background: var(--blue);
    color: #fff
}

.tag-flutter {
    background: #54c5f8;
    color: #003b6c
}

.tag-google-maps {
    background: #33a668;
    color: #f8d845
}

.tag-android {
    background: #a4c34a;
    color: #fff
}

.tag-stripe {
    color: #fff;
    background: #6675e0
}

.tag-machine-learning {
    color: #fff;
    background: var(--purple-light)
}

.tag-python {
    color: #ffda5d;
    background: #3879ab
}

.tag-svelte {
    color: #fff;
    background: #ff3e00
}

.tag-react {
    color: #00d8ff;
    background: #222
}

.tag-ios {
    color: #fff;
    background: #000
}

.tag-minimum-viable-product,.tag-mvp {
    color: #fff;
    background-image: linear-gradient(90deg,#ff8901,#db1d5f);
    font-weight: 700
}

.tag-ionic {
    background: #fff;
    color: #4a8afc
}

.tag-nest {
    color: #e0234e;
    background: #000
}

.tag-graphql {
    color: #fff;
    background: #e10097
}

.tag-electron {
    color: #313244;
    background: #adecf3
}




